body{
	margin: 0;
	padding: 0;
}

#rectangle{
	position: absolute;
	width: 1029px;
	height: 848px;
	left: 0;
	top: 0;
	z-index: -1;
	background-color: #56CCF2;
}

#logo{
	color: #fff;
	position: absolute;
	top: 30px;
	width: 53px;
	height: 32px;
	left: 117px;
	font-size: 32px;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	line-height: 100%;
}
#home{
	position: absolute;
	left: 313px;
	top: 38px;
	width: 46px;
	height: 24px;
	font-family: Muli;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	color: #fff;
}

#about-us{
	position: absolute;
	top: 38px;
	left: 422px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
    font-style: normal;
    font-family: Muli;
    width: 69px;
    height: 24px;
}

#services{
	position: absolute;
	 width: 64px;
	 height: 24px;
	 color: #fff;
     top: 38px;
     left: 554px;
     font-weight: bold;
     line-height: 150%;
     font-size: 16px;
     font-family: Muli;
     font-style: normal;


}

#work{
	color: #fff;
	position: absolute;
	top: 38px;
	width: 85px;
	height: 24px;
	left: 681px;
	z-index: 99;
	font-weight: bold;
	font-family: Muli;
	font-size: 16px;
	line-height: 150%;
	font-style: normal;

}

#contact{
	color: #fff;
	position: absolute;
	top: 38px;
	left: 786px;
    line-height: 150%;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    font-family: Muli;
    width: 85px;
    height: 24px;
    z-index: 999;
}

#hireUs{
	position: absolute;
	top: 38px;
	left: 1020px;
	width: 54px;
	height: 24px;
	color: #fff;
	font-family: Muli;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	line-height: 150%;
	z-index: 999;
	border-bottom: 2px solid yellow;
}
/*#rectangle::after{
	content: '';
	position: absolute;
	height: 298.23px;
	left: 255px;
	top: 180px;
	width: 1128px;
	background: linear-gradient(180deg, rgba(225,225,225,0.25) 0%, rgba(225,225,225,0) 100%), #56CCF2; 
	opacity: 0.5;
	border-radius: 500px;

	transform: rotate(-65deg);
	overflow-x: hidden;
	overflow-y: hidden;
}
#rectangle::before{
	content: '';
	position: absolute;
	height: 300px;
	left: 580px;
	top: 90px;

	width: 928px;
	background: linear-gradient(180deg, rgba(225,225,225,0.25) 0%, rgba(225,225,225,0) 100%), #56CCF2; 
	opacity: 0.5;
	border-radius: 500px;
	z-index: 99;
	transform: rotate(-65deg);
	overflow-x:  hidden;
	overflow-y: hidden;
}*/


.rectangeT{
	position: absolute;
	width: 500px;
	height: 1000px;
/*	border: 1px solid red;*/
	z-index: 1;
	transform: rotate(20deg);
	left: 690px;
	top: -240px;
	opacity: 1;
	
}

.rectangle1,.rectangle2{
   width: 248px;
   height: 1000px;
   
   z-index: -1;
   float: left;
   border-radius: 500px;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
}

#brand{
	font-size: 65px;
	color: #fff;
	font-weight: bold;
	font-family: Muli;
	font-style: normal;
	line-height: 150%;
	position: absolute;
	top: 90px;
	left: 260px;
	z-index: 99;
}

#brand-text{
	font-size: 24px; 
	font-family: Muli;
	font-weight: 500;
	color: #fff;
	font-style: normal;
	line-height: 150%;
	position: absolute;
	top: 230px;
	z-index: 99;
	left: 260px;
}

#button{
	position: absolute;
	width: 200px;
	height: 54px;
	background-color: #fff;
	border-radius: 200px;
	top: 370px;
	left: 260px;
}
#button p{
	font-weight: 500px;
	font-family: Muli;
	font-size: 1rem;
	margin-top: 10px;
	position: absolute;
	margin-left: 3.5rem;
}

.smRect{
	position: absolute;
	width: 50px;
	height: 900px;
/*	border: 1px solid red;*/
	z-index: 1;
	border-radius: 100px;
	transform: rotate(20deg);
	 background: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
	left: 1146px;
	top: -60px;
	opacity: 1;
	z-index: 99;

}
#photo{
	position: absolute;
	width: 977px;
	height: 640px;
/*	border: 1px solid red;*/
	z-index: 99;
	top: 500px;
	left: 180px;
	background: linear-gradient(0deg, rgba(37, 55, 87, 0.1), rgba(37, 55, 87, 0.1)), url(img.jpg);
	background-size: 100% 100%;
}

.nextBtn{
   position: absolute;
	width: 150px;
	height: 54px;
	background-color: #FCC304;;
	border-radius: 200px;
	top: 820px;
	left: 110px;
	z-index: 999;
}
.fa-chevron-right{
	color: #fff;
	position: absolute;
	top: 12px;
	font-weight: bold;
	left: 100px;
}
.fa-chevron-left{
	color: #fff;
	position: absolute;
	top: 12px;
	font-weight: bold;
	left: 25px;
}

.textBrand{
	color: black;
	font-weight: bold;
	font-size: 20px;
/*	transform: rotate(90deg);*/
	z-index: 999;
	letter-spacing: 3px;

}


.face{
	position: absolute;
	left: 1200px;
	top: 600px;
	transform: rotate(90deg);
}

.twit{
	position: absolute;
	left: 1210px;
	top: 800px;
	transform: rotate(90deg);
}

.ins{
	position: absolute;
	left: 1200px;
	top: 1000px;
	transform: rotate(90deg);
}
#container{
	margin-top: 100px;
}

#text-area{
	width: 700px;
	position: absolute;
	top: 1300px;
	left: 300px;
	font-size: 24px;
	font-family: Muli;
line-height: 150%;
font-weight: 600;
}
.text-heading{
	font-size: 48px;
	font-weight: 900;
	font-style: normal;
	color: #253757;
	position: absolute;
	top: 1700px;
	left: 50%;
	transform: translate(-50% , -50%);
}
#showcase{
/*	border: 1px solid red;*/
/*	height: 400px;*/
	width: 1000px;
	left: 190px;
	position: absolute;
	top: 1800px;
}

#img1{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: absolute;
	top: 20px; 
	left: 0px;
}
#img2{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 400px;
}
#img3{
	height: 200px;
	width: 200px;
	position: absolute;
	left: 800px;
	top: 20px;
	border-radius: 50%;
}

.img-heading{
	font-weight: bold;
	font-size: 20px;
	line-height: 150%;
	font-style: normal;
	position: absolute;
	top: 2100px;
	width: 250px;
}
.img-heading1{
	left: 580px;
}
.img-heading2{
	left: 140px;
}
.img-heading3{
	left: 970px;
}
.img-parag{
	position: absolute;
	top: 2200px;
	width: 270px;
}

.img-parag1{
	left: 140px;
}
.img-parag2{
	left: 580px;
}
.img-parag3{
	left: 970px;
}
#box{
	position: absolute;
	top: 2500px;
	/*border: 1px solid red;*/
	height: 200px;
	width: 400px;
	left: 140px;
}

.box-heading{
	font-size: 32px;
	font-weight: bold;
	font-family: Muli;
	margin-bottom: 1rem;
}
.box-parag{
	font-family: Muli;
	font-size: 1rem;
}
.box-parag2{
	font-family: Muli;
	font-size: 1rem;
}

#landingPage{
	width: 100%;
	height: 700px;
	background: #56CCF2;
	position: absolute;
	top: 3000px;
	z-index: -1;
	overflow: hidden !important;
}

#box-circle1{
	position: absolute;
	top: 2900px;
    z-index: 1;
    background: url(img.jpg);
    background-size: 100% 100%;
	left: 800px;
	height: 1000px;
	width: 500px;
	border: 1px solid red;
	transform: rotate(25deg);
}
